<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BalloonSystem.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <userSettings>
        <BalloonSystem.My.MySettings>
            <setting name="PresentLat" serializeAs="String">
                <value>34.2683</value>
            </setting>
            <setting name="PresentLon" serializeAs="String">
                <value>135.1518</value>
            </setting>
            <setting name="PresentAlt" serializeAs="String">
                <value>88</value>
            </setting>
            <setting name="ErrorEL" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ErrorAZ" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ErrorTime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IsKmlEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsNetKmlEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GpsPort" serializeAs="String">
                <value>5554</value>
            </setting>
            <setting name="KmlFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="IsBalloonMapEnable" serializeAs="String">
                <value>True</value>
            </setting>
        </BalloonSystem.My.MySettings>
    </userSettings>
</configuration>